In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.types import Integer, String, Float, Date, DateTime, Boolean


def connect_to_db():
    try:
        engine = create_engine('postgresql+psycopg2://adminkbbkbu:adminkbbkbu_io@localhost:5432/kb_group',
                                connect_args={'options': '-c search_path=bronze_layer'})
        connection = engine.connect()
        print("Connection to the database was successful.")
        return connection

    except Exception as e:  
        print(f"An error occurred: {e}")

In [7]:
class DatabaseConfig:
    def connect_to_db(self):
        """"""
        try:
            engine = create_engine('postgresql+psycopg2://adminkbbkbu:adminkbbkbu_io@localhost:5432/kb_group',
                                    connect_args={'options': '-c search_path=bronze_layer'})
            connection = engine.connect()
            print("Connection to the database was successful.")
            return connection

        except Exception as e:  
            print(f"An error occurred: {e}")
    
    def mapping_fd_inline(self):
        """"""
        dtype_fd_inline = {
            "model": String(15),
            "part_no": String(12),
            "part_name": String(50),
            "ttd_kasie": String(3),
            "ttd_operator": String(3),
            "nik_operator": String(15),
            "tahun": Integer,
            "bulan": Integer,
            "tanggal": Integer,
            "shift": Integer,
            "welding_check_points": Integer,
            "keropos": Integer,
            "kurang": Integer,
            "bolong": Integer,
            "undercut": Integer,
            "spatter": Integer,
            "tidak_tepat": Integer
        }

        return dtype_fd_inline
    
    def mapping_fd_noninline(self):
        """"""
        dtype_fd_noninline = {
            "model": String(15),
            "part_no": String(12),
            "part_name": String(50),
            "ttd_kasie": String(3),
            "ttd_operator": String(3),
            "nik_operator": String(15),
            "tahun": Integer,
            "bulan": Integer,
            "tanggal": Integer,
            "shift": Integer,
            "checked": Integer,
            "ok": Integer,
            "repair": Integer,
            "scrap": Integer,
            "folding_Keras": Integer,
            "karat": Integer,
            "deformasi": Integer,
            "cat_coating": Integer,
            "tidak_masuk_gonogo": Integer,
            "step_loss": Integer,
            "step_loncat": Integer,
            "step_lebih": Integer,
            "step_kurang": Integer,
            "salah_pasang": Integer,
            "goresan": Integer,
            "noisy": Integer,
            "tidak_lengkap": Integer,
            "catatan": String(50),
            "title": String(25),
            "file_name_dataset": String(50),
            "start_processing": String(50),
            "end_processing": String(50),
            "time_processing_all": String(20),
            "time_processing_page": String(20),
            "login_id": String(30),
            "table_1": String(50),
            "table_2": String(50), 
            "table_3": String(50),
            "table_4": String(50),
            "table_5": String(50),
            "table_6": String(50),
        }

        return dtype_fd_noninline
    
    def mapping_fpd(self):
        """"""
        dtype_fpd = {
            "model": String(15),
            "part_no": String(12),
            "part_name": String(50),
            "part_group": String(6),
            "nik_nipm": String(15),
            "tahun": Integer,
            "bulan": Integer,
            "tanggal": Integer,
            "shift": Integer,
            "total_repair": Integer,
            "total_top": Integer,
            "total_middle": Integer,
            "total_bottom": Integer,
            "title": String(25),
            "file_name_dataset": String(50),
            "start_processing": String(50),
            "end_processing": String(50),
            "time_processing_all": String(20),
            "time_processing_page": String(20),
            "login_id": String(30),
            "table_1": String(50),
            "table_2": String(50)
        }

        return dtype_fpd
        
    def mapping_users_activity(self):
        """"""
        dtype_users_activity = {
            "username": String(10),
            "name": String(25),
            "nik_nipm": String(15),
            "role": String(15),
            "location": String(6),
            "login_id": String(30)
        }

        return dtype_users_activity

In [15]:
df_trial = pd.DataFrame({
                "Model": ["4L45W", "4L45W", "4L45W"],
                "Part_No": ["M017T120", "M017T120", "M017T120"],
                "Part_Name": ["FRM_ASM_3RD_RH", "FRM_ASM_3RD_LH", "FRM_ASM_3RD_RH"],
                "Ttd_Kasie": ["E", "A", "C"],
                "Ttd_Operator": ["A", "B", "D"],
                "Nik_Operator": ["112", "111", "113"],
                "Tahun": ["2025", "2025", "2025"],
                "Bulan": ["9", "9", "9"],
                "Tanggal": ["12", "12", "12"],
                "Shift": ["1", "1", "1"],
                "Welding_Check_Points": ["1", "2", "3"],
                "Keropos": ["0", "1", "0"],
                "Kurang": ["1", "0", "0"],
                "Bolong": ["0", "0", "1"],
                "Undercut": ["0", "1", "0"],
                "Spatter": ["0", "0", "1"],
                "Tidak_Tepat": ["0", "1", "0"]
            })
df_trial

,Model,Part_No,Part_Name,Ttd_Kasie,Ttd_Operator,Nik_Operator,Tahun,Bulan,Tanggal,Shift,Welding_Check_Points,Keropos,Kurang,Bolong,Undercut,Spatter,Tidak_Tepat
0,4L45W,M017T120,FRM_ASM_3RD_RH,E,A,112,2025,9,12,1,1,0,1,0,0,0,0
1,4L45W,M017T120,FRM_ASM_3RD_LH,A,B,111,2025,9,12,1,2,1,0,0,1,0,1
2,4L45W,M017T120,FRM_ASM_3RD_RH,C,D,113,2025,9,12,1,3,0,0,1,0,1,0

In [16]:
df_trial.columns = df_trial.columns.str.lower()

In [17]:
df_trial.to_sql(
            'fd_inline',
            con=connect_to_db(),
            if_exists='append',
            index=False,
            dtype=DatabaseConfig().mapping_fd_inline())

Connection to the database was successful.

3

In [19]:
df_check = pd.read_sql_query(text("SELECT * FROM bronze_layer.fd_inline"), connect_to_db())
df_check

Connection to the database was successful.

,model,part_no,part_name,ttd_kasie,ttd_operator,nik_operator,tahun,bulan,tanggal,shift,welding_check_points,keropos,kurang,bolong,undercut,spatter,tidak_tepat
0,4L45W,M017T120,FRM_ASM_3RD_RH,E,A,112,2025,9,12,1,1,0,1,0,0,0,0
1,4L45W,M017T120,FRM_ASM_3RD_LH,A,B,111,2025,9,12,1,2,1,0,0,1,0,1
2,4L45W,M017T120,FRM_ASM_3RD_RH,C,D,113,2025,9,12,1,3,0,0,1,0,1,0
3,4L45W,M017T120,FRM_ASM_3RD_RH,E,A,112,2025,9,12,1,1,0,1,0,0,0,0
4,4L45W,M017T120,FRM_ASM_3RD_LH,A,B,111,2025,9,12,1,2,1,0,0,1,0,1
5,4L45W,M017T120,FRM_ASM_3RD_RH,C,D,113,2025,9,12,1,3,0,0,1,0,1,0

In [14]:
df_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 3 non-null      object
 1   part_no               3 non-null      object
 2   part_name             3 non-null      object
 3   ttd_kasie             3 non-null      object
 4   ttd_operator          3 non-null      object
 5   nik_operator          3 non-null      object
 6   tahun                 3 non-null      int64
 7   bulan                 3 non-null      int64
 8   tanggal               3 non-null      int64
 9   shift                 3 non-null      int64
 10  welding_check_points  3 non-null      int64
 11  keropos               3 non-null      int64
 12  kurang                3 non-null      int64
 13  bolong                3 non-null      int64
 14  undercut              3 non-null      int64
 15  spatter               3 non-null      int64
 16  tidak_tepat           3 non-null      int64
dtypes: int64(11), object(6)
memory usage: 536.0+ bytes

In [2]:
con = connect_to_db()

Connection to the database was successful.

In [5]:
df = pd.read_sql_query(text("SELECT * FROM bronze_layer.fd_noninline"), con=con)
df1 = pd.read_sql_query(text("SELECT * FROM bronze_layer.fpd"), con=con)

In [6]:
df

,halaman,model,part_no,part_name,ttd_kasie,ttd_operator,nik_nipm,tahun,bulan,tanggal,...,end_processing,time_processing_all,time_processing_page,login_id,table_1,table_2,table_3,table_4,table_5,table_6
0,Halaman 1,5J45,M081T010,FRM_ASM_FB_RH,H,E,1225,2025,10,22,...,2025-11-17 13:59:44.028826,12.52,12.523608207702637,LGN_2025-11-17_13-57_KBU 2,"[84, 134, 1369, 133, 1370, 247, 84, 247]","[85, 262, 1375, 262, 1374, 372, 84, 372]","[1426, 132, 2288, 133, 2288, 366, 1427, 366]","[84, 386, 1158, 385, 1159, 2794, 85, 2795]","[1203, 384, 2287, 385, 2287, 2797, 1203, 2796]","[84, 2852, 2292, 2849, 2292, 3003, 83, 3005]"
1,Halaman 1,5J45,M081T010,FRM_ASM_FB_RH,H,E,1225,2025,10,22,...,2025-11-17 14:04:37.503783,18.71,18.71460723876953,LGN_2025-11-17_14-03_KBU 2,"[84, 134, 1369, 133, 1370, 247, 84, 247]","[85, 262, 1375, 262, 1374, 372, 84, 372]","[1426, 132, 2288, 133, 2288, 366, 1427, 366]","[84, 386, 1158, 385, 1159, 2794, 85, 2795]","[1203, 384, 2287, 385, 2287, 2797, 1203, 2796]","[84, 2852, 2292, 2849, 2292, 3003, 83, 3005]"
2,Halaman 1,5J45,M081T010,FRM_ASM_FB_RH,H,E,1225,2025,10,22,...,2025-11-17 14:08:58.138601,12.68,12.67720079421997,LGN_2025-11-17_14-06_KBU 2,"[84, 134, 1369, 133, 1370, 247, 84, 247]","[85, 262, 1375, 262, 1374, 372, 84, 372]","[1426, 132, 2288, 133, 2288, 366, 1427, 366]","[84, 386, 1158, 385, 1159, 2794, 85, 2795]","[1203, 384, 2287, 385, 2287, 2797, 1203, 2796]","[84, 2852, 2292, 2849, 2292, 3003, 83, 3005]"
3,Halaman 1,5H45,M031T010,FRM_ASM_FB_RH,H,E,1225,2025,11,1,...,2025-11-17 14:14:12.99166,13.52,13.52088975906372,LGN_2025-11-17_14-12_KBU 2,"[82, 128, 1368, 128, 1368, 244, 82, 244]","[82, 252, 1371, 252, 1371, 367, 82, 367]","[1427, 127, 2287, 127, 2287, 363, 1427, 362]","[81, 383, 1157, 383, 1157, 2789, 81, 2789]","[1202, 383, 2285, 383, 2285, 2787, 1202, 2787]","[83, 2846, 2286, 2842, 2285, 3007, 82, 3011]"
4,Halaman 1,5J45,M081T010,FRM_ASM_FB_RH,H,E,1225,2025,5,5,...,2025-11-17 14:24:13.294384,12.73,12.729851722717285,LGN_2025-11-17_14-22_KBU 2,"[84, 134, 1369, 133, 1370, 247, 84, 247]","[85, 262, 1375, 262, 1374, 372, 84, 372]","[1426, 132, 2288, 133, 2288, 366, 1427, 366]","[84, 386, 1158, 385, 1159, 2794, 85, 2795]","[1203, 384, 2287, 385, 2287, 2797, 1203, 2796]","[84, 2852, 2292, 2849, 2292, 3003, 83, 3005]"
5,Halaman 1,5J45,M081T010,FRM_ASM_FB_RH,H,E,1225,2025,2,2,...,2025-11-17 14:43:04.614028,12.26,12.25547480583191,LGN_2025-11-17_14-39_KBU 2,"[84, 134, 1369, 133, 1370, 247, 84, 247]","[85, 262, 1375, 262, 1374, 372, 84, 372]","[1426, 132, 2288, 133, 2288, 366, 1427, 366]","[84, 386, 1158, 385, 1159, 2794, 85, 2795]","[1203, 384, 2287, 385, 2287, 2797, 1203, 2796]","[84, 2852, 2292, 2849, 2292, 3003, 83, 3005]"
6,Halaman 1,5J45,M081T010,FRM_ASM_FB_RH,H,E,1225,2025,3,3,...,2025-11-17 14:58:44.477424,12.39,12.386929035186768,LGN_2025-11-17_14-57_KBU 2,"[84, 134, 1369, 133, 1370, 247, 84, 247]","[85, 262, 1375, 262, 1374, 372, 84, 372]","[1426, 132, 2288, 133, 2288, 366, 1427, 366]","[84, 386, 1158, 385, 1159, 2794, 85, 2795]","[1203, 384, 2287, 385, 2287, 2797, 1203, 2796]","[84, 2852, 2292, 2849, 2292, 3003, 83, 3005]"

In [7]:
df1

,halaman,model,part_no,part_name,part_group,nik_nipm,tahun,bulan,tanggal,shift,...,total_bottom,title,file_name_dataset,start_processing,end_processing,time_processing_all,time_processing_page,login_id,table_1,table_2
0,Halaman 1,4L45W,M017S110,FRM_ASM_3RDC_RH,3RDC,1206,2025,2,2,2,...,21,First Pass Defects,FRM-QC-026_rev3_2025-11-17_First_Pass_Defects_...,2025-11-17 15:14:11.43427,2025-11-17 15:15:20.626477,19.52,19.517340898513794,LGN_2025-11-17_15-13_KBU 2,"[89, 124, 2223, 124, 2224, 346, 89, 346]","[94, 381, 2222, 381, 2223, 3141, 95, 3144]"
1,Halaman 1,4L45W,M017S110,FRM_ASM_3RDC_RH,3RDC,1206,2025,1,1,2,...,21,First Pass Defects,FRM-QC-026_rev3_2025-11-17_First_Pass_Defects_...,2025-11-17 15:21:51.424534,2025-11-17 15:22:51.220698,31.08,31.084185123443604,LGN_2025-11-17_15-21_KBU 2,"[89, 124, 2223, 124, 2224, 346, 89, 346]","[94, 381, 2222, 381, 2223, 3141, 95, 3144]"

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": [None, None, None, None],
    "Age": [28, None, 30, None],
    "City": ["Jakarta", None, "Bandung", None]
})

print(df)

   Name   Age     City
0  None  28.0  Jakarta
1  None   NaN     None
2  None  30.0  Bandung
3  None   NaN     None

In [ ]:
if False in df['Name'].isnull().to_list():
    print("Hai")

In [ ]:
['keropos', 'kurang', 'bolong', 'undercut', 'spatter', 'tidak_tepat']
[]

### **Create Connection With Database PostgreSQL**

In [3]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.types import Integer, String, Float, Date, DateTime, Boolean

In [4]:
def connect_to_db():
    
    """"""
    try:
        engine = create_engine('postgresql+psycopg2://adminkbbkbu:adminkbbkbu_io@localhost:5432/kb_group',
                                connect_args={'options': '-c search_path=bronze_layer'})
        connection = engine.connect()
        print("Connection to the database was successful.")
        return connection

    except Exception as e:  
        print(f"An error occurred: {e}")

In [5]:
conn = connect_to_db()

Connection to the database was successful.

In [9]:
def get_database(start_date: str, end_date: str, db_name, col_name):
    try : 
        if isinstance(col_name, list):
            columns = ", ".join(col_name)
        else : 
            columns = col_name

        template_query = text(f"""
                              SELECT 
                                {columns},
                                MAKE_DATE(tahun::INT, bulan::INT, tanggal::INT) AS production_date 
                              FROM 
                                bronze_layer.{db_name}
                              WHERE
                                MAKE_DATE(tahun::INT, bulan::INT, tanggal::INT) BETWEEN :start AND :end;
                              """)
        df = pd.read_sql_query(sql=template_query, con=connect_to_db(), params={'start' :start_date, 'end' :end_date})

        return df
    
    except Exception as e : 
        print(f"Error : {e}")

In [14]:
col_name = ['model', 'part_no', 'part_name', 'shift', 'tahun', 'bulan', 'tanggal', 'checked', 'ok', 'repair', 'scrap']
df_noninline = get_database(start_date='2025-10-20', end_date='2025-10-23', db_name='fd_noninline', col_name=col_name)
df_noninline

Connection to the database was successful.

,model,part_no,part_name,shift,tahun,bulan,tanggal,checked,ok,repair,scrap,production_date
0,5J45,M081T010,FRM_ASM_FB_RH,1,2025,10,22,64,63,1,0,2025-10-22
1,5H45,M031T010,FRM_ASM_FB_RH,1,2025,10,22,120,119,1,0,2025-10-22
2,5H45,M031T010,FRM_ASM_FB_RH,2,2025,10,22,120,118,2,0,2025-10-22
3,5J45,M081T010,FRM_ASM_FB_RH,2,2025,10,22,64,63,1,0,2025-10-22
4,5H45,M032T010,FRM_ASM_FB_LH,2,2025,10,22,160,159,1,0,2025-10-22
...,...,...,...,...,...,...,...,...,...,...,...,...
72,4L45W,M015T210-A,FRM_ASM_2NDB_RH_MIX,1,2025,10,20,86,84,2,0,2025-10-20
73,4L45W,M016T210-A,FRM_ASM_2NDB_LH_UN,1,2025,10,20,129,128,1,0,2025-10-20
74,4L45W,M016T210-A,FRM_ASM_2NDB_LH_UN,2,2025,10,20,215,214,1,0,2025-10-20
75,4L45W,M012T010,FRM_ASM_FB_LH_NON_UN,1,2025,10,20,129,127,2,0,2025-10-20
76,4L45W,M011T010,FRM_ASM_FB_RH_NON_UN,1,2025,10,20,129,127,2,0,2025-10-20

In [ ]:
col_name = ['model', 'part_no', 'part_name', 'shift', 'total_repair', '']
df_fpd = get_database(start_date='2025-10-20', end_date='2025-10-23', db_name='fpd', col_name=col_name)
df_fpd

Connection to the database was successful.

,model,part_no,part_name,shift,total_repair,production_date
0,4L45W,M017T410,FRM_ASM_3RDB_RH(22MY),2,25,2025-10-20
1,4L45W,M017S120,FRM_ASM_3RDC_LH,2,0,2025-10-20
2,4L45W,M017S110,FRM_ASM_3RDC_RH,2,21,2025-10-20
3,4L45W (26MY),M066S030,FRM_ASM_2NDC_LH_MIX,2,61,2025-10-20
4,4L45W (26MY),M065S030,FRM_ASM_2NDC_RH_MIX,2,40,2025-10-20
...,...,...,...,...,...,...
148,5H45,M031T010,FRM_ASM_FB_RH,2,17,2025-10-23
149,5J45,M081T010,FRM_ASM_FB_RH,2,9,2025-10-23
150,4L45W,M016S020,FRM_ASM_2NDC_LH_UN,1,39,2025-10-22
151,5H45,M032T010,FRM_ASM_FB_LH,2,32,2025-10-23
152,4L45W,M017T410,FRM_ASM_3RDB_RH(22MY),2,30,2025-10-23

In [ ]:
df_final =